week2/volume.txt
week2/volumes.txt
week5/venv
week5/.pytest_cache
week5/__pycache__
week7/__pycache__/test_chemistry_1.cpython-311-pytest-7.2.1.pyc
.gitignore
week7/__pycache__/chemistry.cpython-311.pyc
week7/__pycache__/test_random_numbers.cpython-311-pytest-7.2.1.pyc
.gitignore
week7/__pycache__/random_numbers.cpython-311.pyc
week8/__pycache__/formula.cpython-311.pyc
week8/__pycache__/chemistry.cpython-311.pyc
.gitignore
week8/__pycache__/test_chemistry_2.cpython-311-pytest-7.2.1.pyc
week9/__pycache__/receipt.cpython-311.pyc
.gitignore
week9/__pycache__/test_products.cpython-311-pytest-7.2.1.pyc
